body {
    font-family: sans-serif;
    color: #452815;
}

a {
    color: #452815;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul li {
    list-style: none;
    margin-bottom: 8px;
}

#grad {
    background-image: linear-gradient(to right, #e6ccb2, #ddb892);
}

.container {
    max-width: 90%;
    margin: 50px;
}

.navbar {
    background-color: #9c6644;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home-section {
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.sub-tittle {
    text-align: center;
}

.paragraph {
    padding: 10px;
    text-align: justify;
}

.image-section {
    background-color: #b08968;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
    text-align: center;
    
}

.image-section img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}

.about-section {
    background-color: #9c6644;
    border-radius: 8px;
    padding: 10px;
}

.contact-section {
    max-width: 90px;
    margin: 10px;
    padding: 4px;
    text-align: center;
    background-color: #e6ccb2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}

/* .card-container {
    border: 1px solid white;
} */

.row {
    margin: 0 -5px;
}

.card-column {
    background-color: #b08968;
    border-radius: 8px;
    /* border: 1px solid; */
    width: 90%;
    padding:10px;

    /* box-sizing: border-box; */
}

.card-item {
    padding: 10px;
    width: 100%;
    margin: 10px 0 10px;
    text-align: center;
    background-color: #e6ccb2;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    box-sizing: border-box;
}

h3 {
    margin-bottom: 30px;
}

footer{
    background-color: #9c6644;
    border-radius: 8px;
    padding: 10px;
}

footer ul {
    padding: 0;
}

.footer-items {
    margin-top: 20px;
}

.footer-items img {
    width: 30px;
    border-radius: 50%;
}

.social-media {
    display: flex;
    gap: 10px;
}

.copyright-section {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid;
    padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
    .card-column {
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
    }

    .upper-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .image-section {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .image-section img {
        width: 50%;
    }
}