body {
    font-family: sans-serif;
    background-color: #161A30;
    color: #F0ECE5;
}

header {
    border: 1px solid white;
    margin-bottom: 10px;
}

.home-section {
    border: 1px solid white;
    margin-bottom: 10px;
}

.main-hero {
    border: 1px solid white;
}

.card-container {
    border: 1px solid white;
}

.row {
    margin: 0 -5px;
}

.card-column {
    width: 100%;
    padding: 0 10px;

    box-sizing: border-box;
}

.card-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 10px 0 10px;
    text-align: center;
    background-color: #B6BBC4;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .card-column {
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
    }
}